.legalnotice {
  .separator-legalnotice {
    width: 40%;
    height: 5px;
    background-color: #1a72ff;
    margin: auto;
    border: none;
    opacity: 1;
  }

  @media (max-width: 768px) {
    section .separator-legalnotice {
      width: 20%;
    }
  }
  .accordion-wrapper {
    background: transparent;
    box-shadow: none;
    border: none;
  }
}
