.separator-legalnotice {
  width: 40%;
  height: 5px;
}

@media (max-width: 768px) {
  .separator-legalnotice {
    width: 20%;
  }
}
.accordion-wrapper {
  background: transparent;
  box-shadow: none;
  border: none;
}
