@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

.navbar {
  background-color: black;
  font-family: "Nunito Sans", sans-serif;
}

.navbar-brand {
  text-transform: uppercase;
  margin-left: 15px;
}

.navbar-nav .nav-link {
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
}
.navbar-nav .nav-link:active {
  text-decoration: underline;
  font-weight: bold;
}
.navbar-nav .nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}
