@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

.title {
  font-family: "Nunito Sans" sans-serif;
  font-weight: 600;
}
.separator--services {
  width: 450px;
  background-color: #1a72ff;
  opacity: 1;
  height: 5px;
  margin: auto;
  border: none;
}
@media (max-width: 768px) {
  .separator--services {
    width: 50% !important;
  }
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.service-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 90%;
  font-size: 0.9rem;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
